@import "tailwindcss";


html,
body {
    width: 100%;
    overflow-x: hidden;
}

@layer components {
    .mycontainer {
        @apply max-w-[1200px];
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}